/* CSS Document */

body{
    margin: 0em;
    border: 0em;
    align-content: center;
    background-color:aliceblue;
}
h1{
    margin: 0em;
    border: 0em;
}
header{
    height: 20%;
    background-color:aliceblue;
}
a{
    text-decoration-line: none;
    color: inherit;


}
.mune-li> a:hover{
    color: white;
    background-color: yellowgreen;


}

li{
    list-style-type: none;
}
p{
    text-indent: 2em;
}

#tltle{
    padding: 20px 0px;
    font-size: 48px;
    color:#BCB4AF;
    text-align:center;
    text-shadow: 5px 5px 5px black;
    letter-spacing: 0.8em;
}

.mune{
    
    padding: 0 0 0 2em;
    margin: 0;
    margin-bottom: 3em;
    list-style: none;
    height: 3em;
    position: relative;
   border-style:solid; 
    clear: both;
    

    
}
.mune>li:nth-child(1)>a::before{
    content: url("../image/items/apple_golden.png");
}
.mune>li:nth-child(2)>a::before{
    content: url("../image/items/bed.png");
}
.mune>li:nth-child(3)>a::before{
    content: url("../image/items/brick.png");
}
.mune>li:nth-child(4)>a::before{
    content: url("../image/items/bread.png");
}
.mune>li:nth-child(5)>a::before{
    content: url("../image/items/book_writable.png");
}
.mune>li:nth-child(6)>a::before{
    content: url("../image/items/birch_boat.png");
}
.menu-li{
    width: 5px;
    color: white;
    margin: 1em;
    border-radius: 2em;
    background-color:currentColor;
}
footer{
    
    top: 100%;
    width: 100%;
    height: 100px;
    background-color: gray;
    align-content: center;
    text-align: center;
    margin: 2em 0;
    clear: both;
}
hr{
    margin: 0;
    padding: 0;
    border-bottom-color: black;
    background-color: black;
    opacity: 0.6;
}
.minecraft {
    float: left;
    align :left;
    width: 30em;
    height: auto;
    margin: 0 3em;
    border: 0;
    
}


.mune>li {
    display: block;
    float: left;
    position: relative;
    opacity: 1;
    
}

.menu-a {
    display: block;
    float: left;
    height: 2em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding:0 2em;
    line-height: 1.8em;
    border-radius: 1em;
    transition-property: background-color;
    transition-duration: 2s;
}

small {
    font-size: 1em;
    padding-top: 2em;
}

#text {
    padding: 1.5em ;
    width: 30em;
    float: left;
    margin: 0 6em;
    border-style: solid;
    border-color:chocolate;
    
}

.introduce {
    margin: 5em 0 0 5em;
    width: 80%;
}


.introduce-context {
    margin-left: 6em;
    font-size: 15px;
    padding: 2em;
    border-style: solid;
    border-color: chocolate;
    
}

.mate::after {
    content: url("../image/items/bed.png");
}
.mate{
    clear: both;
}



#login>a{
    margin: 10px;
}

h2 {
    text-align: center;
}

#game-mune {
    float: left;
    margin-right: 3em;
    width: 150px;
    height: 500px;
    background-color: aquamarine;
}

#game-content {
    float: left;
    width: 800px;
    height:500px;
    background-color: blueviolet;
}
#content{
    
    width: auto;
    right: 0;
    margin-right: 5em;
    margin-left: 5em;
}
